

body{
    background-color: aqua;
}

.header {

    height: 50vh;
    background-color: rgb(40, 123, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 10vh;
    background-color: rgb(40, 123, 156);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
body{
    background-color: blue;
}